table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 0;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	color: #999;
	text-align: left;
	width: 40%;
}

table.detail-view tr.odd
{
	background: rgba(0,0,0,.3);
}
